.box-holder {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  height: 1000px;
  width: 100%;
}
.container-box {
  border: 0.2px blur black;
  width: 300px;
  height: 40%;
  margin-top: 50%;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-box-holder {
  padding-top: 2px;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  justify-content: center;
  height: 40%;
}
.login-h1 {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10%;
  color: #000080;
}
.remember-me {
  margin-left: 8%;
  color: gray;
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-size: 0.9rem;
}
.input-forms {
  margin: 1%;
  width: 80%;
  height: 32%;
  font-size: 1.4rem;
  opacity: 60%;
  border-radius: 6px;
  border: 0.5px solid grey;
  padding-left: 2%;
}
.password-forgot {
  text-align: right;
  margin-right: 4%;
  color: gray;
  text-decoration: underline;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}
.signup-button {
  width: 80%;
  margin-top: 3%;
  height: 50px;
  border-radius: 12px;
  background: linear-gradient(to bottom, dodgerblue 0%, #000080 100%);
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}
button:hover {
  font-size: 0.9rem;
}
.bottom-box {
  height: 80px;
  margin: auto;
  margin-top: 0;
  display: flex;
  justify-content: center;
  flex-shrink: unset;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bottom-button {
  width: 280px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(to bottom, dodgerblue 0%, #000080 100%);
}
.button-top-text {
  margin-bottom: 2%;
  margin-top: 0;
  font-size: 0.9rem;
  color: white;
}
.button-bottom-text {
  margin-top: 3%;
  color: white;
}
