.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
h1 {
  font-family: 'Roboto', sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 25px 0;
}
h1 {
  font-size: 1.75em;
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 1.6em;
    margin-left: 20px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  h1 {
    font-size: 1.6em;
  }
}
h2 {
  font-size: 1.65em;
}
@media screen and (max-width: 700px) {
  h2 {
    font-size: 1.5em;
    margin-left: 20px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  h2 {
    font-size: 1.5em;
    margin-left: 20px;
  }
}
h3 {
  font-size: 1.55em;
}
@media screen and (max-width: 700px) {
  h3 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  h3 {
    font-size: 1.4em;
  }
}
header a {
  font-size: 1.3em;
}
@media screen and (max-width: 700px) {
  header a {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  header a {
    font-size: 1.1em;
  }
}
footer a {
  font-size: 1em;
}
p {
  font-size: 1.3em;
  line-height: 1.3;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.btn {
  background-color: #4C668C;
  padding: 10px 50px;
  color: #E6E6E6;
  font-size: 1em;
  margin-top: 20px;
  border: 0px;
  display: block;
}
a,
.btn,
.fab {
  cursor: pointer;
  text-decoration: none;
}
a:link,
a:visited {
  color: inherit;
}
:hover {
  transition: 0.5s;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #142E54;
  z-index: 999;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E6E6E6;
  height: 80px;
}
@media screen and (max-width: 700px) {
  header .nav {
    height: 100px;
    padding: 20px 0;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  header .nav {
    margin: 0 20px;
  }
}
header .nav .mobile-nav {
  margin-left: auto;
  margin-right: 20px;
  font-size: 2em;
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  header .nav .mobile-nav {
    display: none;
  }
}
@media (min-width: 1051px) {
  header .nav .mobile-nav {
    display: none;
  }
}
header .nav nav a {
  margin-left: 20px;
}
header .nav nav a:hover {
  color: #ffffff;
}
@media screen and (max-width: 700px) {
  .navigation {
    display: none;
    position: fixed;
    right: 0;
    top: 140px;
    height: 100vh;
    width: 50%;
    flex-direction: column;
    background-color: #142E54;
    z-index: 2;
  }
}
@media screen and (max-width: 700px) {
  .navigation a {
    margin: 20px;
    font-size: 1.5em;
    text-align: right;
  }
}
@media screen and (max-width: 700px) {
  .navigation a:first-child {
    margin-top: 0;
  }
}
.nav-dropdown {
  display: flex;
}
.mobile-nav {
  position: absolute;
  right: 0;
}
footer {
  background-color: #142E54;
  color: #E6E6E6;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
footer nav a {
  color: #E6E6E6;
  margin-right: 20px;
}
footer nav a:hover {
  color: #ffffff;
}
footer p {
  font-size: 0.8em;
}
footer .social {
  padding: 30px 0;
}
footer .social .fab {
  font-size: 2em;
  margin: 0 10px;
}
footer .social .fa-facebook-square:hover {
  color: #3b5998;
}
footer .social .fa-twitter-square:hover {
  color: #00aced;
}
footer .social .fa-youtube-square:hover {
  color: #bb0000;
}
.banner {
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  color: #FFF;
  height: 600px;
  margin-bottom: 50px;
}
.mission-statement {
  padding: 200px 0 0 0;
  text-align: center;
}
.mission-statement .btn {
  display: inline;
}
@media screen and (max-width: 700px) {
  .mission-statement {
    padding: 250px 0 0 0;
  }
}
.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width: 700px) {
  .content {
    justify-content: center;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  .content {
    justify-content: center;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  .content div {
    width: 30%;
    margin: 0 5px;
  }
}
.content div img {
  width: 320px;
  padding-bottom: 0;
}
@media screen and (max-width: 700px) {
  .content div img {
    width: 100%;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  .content div img {
    width: 100%;
  }
}
.content div .btn {
  width: 100%;
  margin-top: 0px;
}
.we-need {
  margin-top: 50px;
}
.we-need .we-need-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .we-need .we-need-items {
    justify-content: center;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  .we-need .we-need-items {
    justify-content: center;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  .we-need .we-need-items div {
    width: 30%;
    margin: 5px;
  }
}
.we-need .we-need-items div img {
  width: 320px;
  margin: 10px 0;
}
@media screen and (max-width: 700px) {
  .we-need .we-need-items div img {
    width: 80%;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  .we-need .we-need-items div img {
    width: 100%;
    margin: 0;
  }
}
.subscribe {
  margin-top: 50px;
}
.subscribe input {
  height: 34px;
  width: 300px;
  margin-top: 0;
}
@media screen and (max-width: 700px) {
  .subscribe input {
    margin-left: 20px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  .subscribe input {
    margin-left: 20px;
  }
}
.subscribe .btn {
  display: inline;
  margin: 0;
  margin-left: 5px;
}
@media screen and (max-width: 700px) {
  .subscribe .btn {
    background-color: #4C668C;
    padding: 12px 20px;
    font-size: 0.8em;
  }
}
.carousel-wrapper {
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  .carousel-wrapper {
    display: none;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  .carousel-wrapper {
    margin-bottom: 100px;
  }
}
.carousel {
  margin-top: 50px;
  height: 500px;
  width: 100%;
}
.carousel-photo {
  opacity: 0;
  display: none;
}
.initial {
  opacity: 1;
  display: block;
}
.image:hover {
  opacity: 0.5;
}
.overlay {
  position: relative;
  display: inline-block;
  z-index: 0;
}
@media screen and (max-width: 700px) {
  .overlay {
    width: 100%;
    height: 100%;
  }
}
.overlay::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 93%;
  background-color: #142E54;
  opacity: 0;
}
@media screen and (max-width: 700px) {
  .overlay::before {
    width: 80%;
    left: 10%;
    height: 95%;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  .overlay::before {
    width: 100%;
    top: -1%;
    height: 100%;
  }
}
.overlay:hover::before {
  opacity: 0.8;
  transition: 0.5s;
}
.img-container {
  position: relative;
}
.text-container {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.img-container:hover .text-container {
  opacity: 1;
}
.text {
  color: #FFF;
  font-size: 2em;
  opacity: 0.9;
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  .text {
    font-size: 1.3em;
  }
}
.about-us-banner {
  background-image: url('../img/aboutus.jpg');
  background-size: cover;
  background-position: center;
  color: #FFF;
  height: 600px;
  margin-bottom: 50px;
}
.about-us-login {
  margin-left: 10%;
  margin-bottom: 13%;
}
.about-us-history {
  padding: 3%;
  background-color: #142E54;
  margin-bottom: 50px;
}
.about-us-history-font {
  color: #E6E6E6;
  margin: 0;
  margin-bottom: 15px;
}
.about-us-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-us-photo-sizes {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 170px;
}
.photo1 h1,
.photo1 p {
  padding-left: 20px;
}
.photo1 h1 {
  font-size: 1.2em;
  margin-bottom: 5px;
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .photo1 h1 {
    padding: 0;
  }
}
.photo1 p {
  font-size: 0.9em;
  font-style: italic;
  font-weight: normal;
}
.container-contact-us {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.night-mode-container {
  display: flex;
  justify-content: center;
}
.night-mode {
  background-color: black;
  color: white;
  padding: 10px;
  width: 25%;
  margin-top: 15%;
}
.contact-banner {
  background-image: url('../img/blue-charity-cheerful-1260293.jpg');
  background-size: cover;
  background-position: center;
  color: #FFF;
  height: 600px;
  margin-bottom: 50px;
}
.contact-us {
  width: 40%;
}
@media screen and (max-width: 700px) {
  .contact-us {
    width: 60%;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  .contact-us {
    width: 50%;
  }
}
.contact-us h2 {
  margin-left: 0;
}
form input,
form textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 1% 0;
  font-size: 1em;
  border: 1px solid #ccc;
  padding: 5px;
}
form input {
  height: 30px;
}
form textarea {
  height: 100px;
}
form input[name=firstname] {
  margin-right: 1%;
}
form .btn {
  width: 100%;
}
.box-holder {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  margin-top: 90px;
}
@media screen and (max-width: 700px) {
  .box-holder {
    margin-top: 180px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  .box-holder {
    margin-top: 110px;
  }
}
.container-box1 {
  border: 0.2px blur black;
  width: 300px;
  margin: auto;
  margin-top: 7%;
  border-radius: 15px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-box1 h4 {
  text-align: right;
  margin-right: 4%;
  color: gray;
  text-decoration: underline;
}
.container-box1 div input {
  margin: 10px 0;
}
.container-box1 div input[type=text] {
  height: 50px;
}
.container-box1 div input[type=checkbox] {
  margin-right: 5px;
}
.login-box-holder {
  padding-top: 2px;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  justify-content: center;
  height: 40%;
}
.login-h1 {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10%;
  margin-bottom: 4%;
  color: #000080;
}
.remember-me {
  margin-left: 8%;
  color: gray;
  width: 40%;
  font-size: 0.9rem;
}
.input-forms {
  margin: 1%;
  width: 80%;
  height: 32%;
  font-size: 1.4rem;
  opacity: 60%;
  border-radius: 6px;
  border: 0.5px solid grey;
  padding-left: 2%;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}
.button-container button:hover {
  font-size: 0.9rem;
}
.signup-button {
  width: 80%;
  margin-top: 3%;
  height: 50px;
  border-radius: 12px;
  background: linear-gradient(to bottom, dodgerblue 0%, #4C668C 100%);
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}
.bottom-box {
  height: 80px;
  margin: auto;
  margin-top: 0;
  display: flex;
  justify-content: center;
  flex-shrink: unset;
}
.bottom-button {
  width: 280px;
  border-radius: 12px;
  background: linear-gradient(to bottom, dodgerblue 0%, #4C668C 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bottom-button button:hover {
  font-size: 1.3rem;
  background-color: #000080;
}
.button-top-text {
  margin-bottom: 2%;
  margin-top: 5%;
  font-size: 0.9rem;
  color: white;
  font-weight: bold;
}
.button-bottom-text {
  margin-top: 3%;
  margin-bottom: 3%;
  color: white;
  font-weight: bold;
}
.button-location {
  display: flex;
  justify-content: center;
}
.schedule-banner {
  background-image: url('../img/schedule.jpeg');
  background-size: cover;
  background-position: center;
  color: #FFF;
  height: 600px;
  margin-bottom: 50px;
}
.weekdays {
  text-align: center;
  margin: 0 auto;
}
.weekdays .weekdays-days {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  margin: 0 auto;
}
.weekdays .weekdays-day {
  display: none;
  width: 75%;
}
.weekdays .weekdays-day table {
  width: 100%;
  border-collapse: collapse;
}
.weekdays .weekdays-day table tr td,
.weekdays .weekdays-day table tr th {
  border: 1px solid #6680A6;
  padding-left: 20px;
  text-align: left;
}
.weekdays .weekdays-day table tr th {
  background-color: #4C668C;
  color: #FFF;
}
.weekdays .weekdays-day table tr td p {
  margin: 10px 0;
}
.weekdays .weekdays-day table tr:nth-child(even) {
  background-color: #dddddd;
}
.weekdays .weekdays-day .weekdays-day-title {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}
.weekdays .weekdays-day-focus {
  display: block;
}
.weekdays .weekdays-tabs {
  display: flex;
}
@media screen and (max-width: 700px) {
  .weekdays .weekdays-tabs {
    flex-direction: column;
  }
}
@media screen and (min-width: 701px) and (max-width: 1050px) {
  .weekdays .weekdays-tabs {
    flex-direction: column;
  }
}
.weekdays .weekdays-tab {
  padding: 20px 25px;
  font-size: 1.5em;
  color: #4C668C;
  cursor: pointer;
}
.weekdays .weekdays-tab:hover {
  border-bottom: 3px solid #6680A6;
  border-top: 3px solid #6680A6;
  color: #6680A6;
}
.weekdays .weekdays-tab-focus {
  border-bottom: 3px solid #4C668C;
  border-top: 3px solid #4C668C;
}
