.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
h1 {
  font-family: 'Roboto', sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 25px 0;
}
h1 {
  font-size: 1.75em;
}
h2 {
  font-size: 1.65em;
}
h3 {
  font-size: 1.55em;
}
header a {
  font-size: 1.3em;
}
footer a {
  font-size: 1em;
}
p {
  font-size: 1.3em;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.btn {
  background-color: #4C668C;
  padding: 10px 50px;
  color: #FFF;
  font-size: 1em;
  margin-top: 20px;
  border: 0px;
  display: block;
}
a,
.btn,
.fab {
  cursor: pointer;
  text-decoration: none;
}
a:link,
a:visited {
  color: #FFF;
}
nav a {
  color: #FFF;
}
nav a:hover {
  color: #d9d9d9;
}
header {
  background: #142E54;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  height: 100%;
}
header .nav nav a {
  padding: 2%;
}
@media (max-width: 600px) {
  header .nav nav a {
    margin-top: 0;
  }
}
.about-us-nav {
  padding: 2%;
  display: flex;
  justify-content: center;
  margin-right: 3%;
}
@media (max-width: 600px) {
  .about-us-nav {
    margin-top: 0;
  }
}
footer {
  background-color: #142E54;
  color: #FFF;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
footer nav a {
  color: #FFF;
  margin-right: 20px;
}
footer p {
  font-size: 0.8em;
}
footer .social {
  padding: 30px 0;
}
footer .social .fab {
  font-size: 2em;
  margin: 0 10px;
}
footer .social .fa-facebook-square:hover {
  color: #3b5998;
}
footer .social .fa-twitter-square:hover {
  color: #00aced;
}
footer .social .fa-youtube-square:hover {
  color: #bb0000;
}
.banner {
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  color: #FFF;
  height: 100%;
  margin-bottom: 50%;
}
.mission-statement {
  padding: 10% 0 0 0;
  text-align: center;
}
.mission-statement .btn {
  display: inline;
}
.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 50px;
}
.content div img {
  width: 320px;
  padding-bottom: 0;
}
.content div .btn {
  width: 100%;
  margin-top: 0px;
}
.we-need {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.we-need img {
  width: 320px;
  margin: 10px 0;
}
.subscribe {
  margin-top: 100px;
}
.subscribe input {
  height: 34px;
  width: 300px;
  margin-top: 0;
}
.subscribe .btn {
  display: inline;
  margin: 0;
}
.carousel-wrapper {
  overflow: hidden;
}
.carousel {
  margin-top: 100px;
  height: 500px;
  width: 100%;
}
.carousel-photo {
  opacity: 0;
  display: none;
}
.initial {
  opacity: 1;
  display: block;
}
.about-us-banner {
  background-image: url('../img/aboutus.jpg');
  background-size: cover;
  background-position: center;
  color: #FFF;
  height: 100%;
  margin-bottom: 50%;
}
@media (max-width: 600px) {
  .about-us-banner {
    margin-bottom: 0%;
  }
}
.about-us-login {
  margin-left: 10%;
  margin-bottom: 13%;
}
@media (max-width: 600px) {
  .about-us-login {
    margin: 0 auto;
    margin-bottom: 10%;
  }
}
.about-us-history {
  padding: 3%;
  background-color: #142E54;
}
.about-us-history-font {
  color: #FFF;
  margin: 0;
  margin-bottom: 15px;
}
.about-us-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-us-photo-sizes {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 170px;
}
.photo1 h1 {
  font-size: 0.9rem;
  padding-left: 20px;
}
.photo1 p {
  padding-left: 20px;
  font-size: 1rem;
}
.container-contact-us {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
@media (max-width: 600px) {
  nav {
    background-color: #142E54;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .container {
    margin-top: 5px;
  }
  nav a {
    margin-top: 3%;
    border-top: 1px solid #FFF;
    padding-top: 3%;
  }
  .nav {
    height: 100%;
  }
  .about-us-nav {
    margin-bottom: 0;
  }
  .container {
    height: 100%;
  }
  .about-us-login-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-class {
    margin-bottom: 3%;
    border-bottom: 1px solid #FFF;
    padding-bottom: 3%;
  }
  .mission-statement {
    padding-bottom: 8%;
  }
  .about-us-history {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  h2 {
    margin-left: 5%;
  }
  footer .container nav {
    display: none;
  }
}
.contact-banner {
  background-image: url('../img/blue-charity-cheerful-1260293.jpg');
  background-size: cover;
  background-position: center;
  color: #FFF;
  height: 500px;
  margin-bottom: 100px;
}
.contact-us {
  width: 40%;
}
p {
  line-height: 1.3;
}
form input,
form textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 1% 0;
  font-size: 1em;
  border: 1px solid #ccc;
  padding: 5px;
}
form input {
  height: 30px;
}
form textarea {
  height: 100px;
}
form input[type=text] {
  width: 49.15%;
}
form input[name=firstname] {
  margin-right: 1%;
}
form .btn {
  width: 100%;
}
.box-holder {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: center;
  height: 1000px;
  width: 100%;
}
.container-box1 {
  border: 0.2px blur black;
  width: 300px;
  height: 40%;
  margin: auto;
  margin-top: 7%;
  border-radius: 15px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-box1 h4 {
  text-align: right;
  margin-right: 4%;
  color: gray;
  text-decoration: underline;
}
.login-box-holder {
  padding-top: 2px;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  justify-content: center;
  height: 40%;
}
.login-h1 {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10%;
  margin-bottom: 4%;
  color: #000080;
}
.remember-me {
  margin-left: 8%;
  color: gray;
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-size: 0.9rem;
}
.input-forms {
  margin: 1%;
  width: 80%;
  height: 32%;
  font-size: 1.4rem;
  opacity: 60%;
  border-radius: 6px;
  border: 0.5px solid grey;
  padding-left: 2%;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}
.button-container button:hover {
  font-size: 0.9rem;
}
.signup-button {
  width: 80%;
  margin-top: 3%;
  height: 50px;
  border-radius: 12px;
  background: linear-gradient(to bottom, dodgerblue 0%, #4C668C 100%);
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}
.bottom-box {
  height: 80px;
  margin: auto;
  margin-top: 0;
  display: flex;
  justify-content: center;
  flex-shrink: unset;
}
.bottom-button {
  width: 280px;
  border-radius: 12px;
  background: linear-gradient(to bottom, dodgerblue 0%, #4C668C 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bottom-button button:hover {
  font-size: 1.3rem;
  background-color: #000080;
}
.button-top-text {
  margin-bottom: 2%;
  margin-top: 5%;
  font-size: 0.9rem;
  color: white;
  font-weight: bold;
}
.button-bottom-text {
  margin-top: 3%;
  margin-bottom: 3%;
  color: white;
  font-weight: bold;
}
.button-location {
  display: flex;
  justify-content: center;
}
