.about-us-banner {
    background-image: url('../img/aboutus.jpg');
    background-size: cover;
    background-position: center;
    color: #FFF;
    height: 600px;
    margin-bottom: 50px;
}
.about-us-login {
    margin-left: 10%;
    margin-bottom: 13%;
}



.history {
    text-align: center;
    margin: 0 auto;

    .about-us-tabs{
        display: flex;
        justify-content: center;
    }

    .about-tabs {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        padding-top: 60px;
        margin: 0 auto;
    }
    .about-us-tabs {
        display: flex;
        @media @mobile {
            flex-direction: column;
        }
        @media @tablet {
            flex-direction: column;
        }
    }

    .about-us-event {
        display: none;
        width: 75%;
    }

    .about-us-events {
        display: block;
    }

    .about-us-tab {
        padding: 20px 25px;
        font-size: 1.4em;
        color: #4C668C;
        cursor: pointer;

        &:hover {
            border-bottom: 3px solid #6680A6;
            border-top: 3px solid #6680A6;
            color: #6680A6;
        }
    }

    .about-us-selection {
        border-bottom: 3px solid #4C668C;
        border-top: 3px solid #4C668C;
    }
}

.about-us-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.photo1{
    h1, p{
        padding-left: 20px;
        
    }
    h1{
        font-size: 1.2em;
        margin-bottom: 5px;
        font-weight: bold;
        @media @mobile{
            padding: 0;
        }
    }
    p{
        font-size: .9em;
        font-style: italic;
        font-weight: normal;
    }
}
.container-contact-us {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.about-us-photo-sizes {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 170px;
}



// //Night mode Button


.mode-tabs{
    display: flex;
    justify-content: center;
}

.day-tab {
    background-color: white;
    color: black;
    padding: 10px;
    width: 15%;
    margin-top: 15%;
}

.night-tab {
    background-color: black;
    color: white;
    padding: 10px;
    width: 15%;
    margin-top: 15%;
}

