.about-us-banner {
    background-image: url('../img/aboutus.jpg');
    background-size: cover;
    background-position: center;
    color: #FFF;
    height: 500px;
    margin-bottom: 100px;
}


.about-us-login {
    margin-left: 10%;
    margin-bottom: 13%;
}

.about-us-history {
    padding: 3%;
    background-color:@nav-bg;
}

.about-us-history-font {
    color: @nav-font;
    margin: 0;
    margin-bottom: 15px;
}


.about-us-team {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.about-us-photo-sizes {
    width: 50px;
}

