footer{
  background-color: @nav-bg;
  color: @nav-font;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  nav a{
    color: @nav-font;
    margin-right: 20px;
  }
  p{
    font-size: .8em;
  }
  .social{
    padding: 30px 0;
    .fab{
      font-size: 2em;
      margin: 0 10px;
    }
    .fa-facebook-square{
      &:hover{
        color: #3b5998;
      }
    }
    .fa-twitter-square{
      &:hover{
        color: #00aced;
      }
    }
    .fa-youtube-square{
      &:hover{
        color: #bb0000;
      }
    }
  }
}
