.box-holder {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    height: 1000px;
    width: 100%;
};

.container-box {
    border: .2px blur black;
    width: 300px;
    height: 40%;
    margin-top: 50%;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // This text is the forgot your password text
    h4{
        text-align: right;
        margin-right: 4%;
        color: gray;
        text-decoration: underline; 
    }
};

// this box contains to user and password boxes
.login-box-holder {
    padding-top: 2px;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: center;
    height: 40%;
};


// This is for the user and password boxes
// .box-1 {
//     height: 49px;
//     width: 90%;
//     border: 1px solid blue;
//     margin: 5% auto;
//     border-radius: 7px;
//     box-shadow: 5px rgba(68,68,68,0.6);
// }

// this is the h1 heading that says 'welcome back'
.login-h1 {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10%;
    margin-bottom: 4%;
    color: #000080;

};

// this controls the checkbox that says 'remember me'
.remember-me {
    margin-left: 8%;
    color: gray;
    display: flex;
    justify-content: space-around;
    width: 40%;
    font-size: .9rem;
};

.input-forms {
    margin: 1%;
    width: 80%;
    height: 32%;
    font-size: 1.4rem;
    opacity: 60%;
    border-radius: 6px;
    border: .5px solid grey;
    padding-left: 2%;
    
};



// This is the signup button
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    button:hover {
        font-size: .9rem;
    }


};

.signup-button {
    width: 80%;
    margin-top: 3%;
    height: 50px;
    border-radius: 12px;
    background: linear-gradient(to bottom, dodgerblue 0%, #4C668C 100%);
    color: white;
    font-size: .8rem;
    font-weight: bold;
};



// This code controls the sign up button at the bottom of the page


.bottom-box {
    height: 80px;
    margin: auto;
    margin-top: 0;
    display: flex; 
    justify-content: center;
    flex-shrink: unset;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

    button:hover {
        font-size: 1.1rem;
    }
  
};



.bottom-button {
    width: 280px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(to bottom, dodgerblue 0%, #4C668C 100%);

    
    
}

.button-top-text{
    margin-bottom: 2%;
    margin-top: 5%;
    font-size: .9rem;
    color: white;
    font-weight: bold;
}

.button-bottom-text {
    margin-top: 3%;
    margin-bottom: 3%;
    color: white;
    font-weight: bold;
}
