header{
  background: @nav-bg;
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: @nav-font;
    // height: 80px;
    height: 100%;
    nav{
      a {
        padding: 2%;

        @media (max-width: 600px){
          margin-top: 0;
        }
      }
    }
  }
}

.about-us-nav {
  padding: 2%;
  display: flex;
  justify-content: center;
  margin-right: 3%;

  @media (max-width: 600px){
    margin-top: 0;
  }
  
}